<div id="conf">

<form ng-submit="save()" ng-show="!showChanged">
    <h2>{{ TEXT().change_password }}</h2>
    <div>
        <i class="fa fa-lock"></i>
        <input type="password" placeholder="{{ TEXT().new_password1 }}"
            ng-model="password1"
            ng-blur="blurSave()" />
        <div class="err">
            <p class="anima-fade" ng-show="lengthNotValid()">{{ TEXT().password_length_not_valid }}</p>
        </div>
    </div>
    <div>
        <i class="fa fa-lock"></i>
        <input type="password" placeholder="{{ TEXT().new_password2 }}"
            ng-model="password2"
            ng-blur="blurSave()" />
        <div class="err">
            <p class="anima-fade" ng-show="isNotEqual()">{{ TEXT().password_not_equal }}</p>
        </div>
    </div>

    <div class="conf">
        <button ng-disabled="isDisabled()"><i class="fa fa-save"></i>{{ TEXT().save }}</button>
    </div>
</form>

<div ng-show="showChanged"  class="anima-fade">
    <h2>{{TEXT().password_updated}}</h2>
</div>

<div class="conf">
    <a class="button" ng-href="#/config"><i class="fa fa-mail-reply"></i>{{ TEXT().back }}</a>
</div>


</div>


