<div id="conf">

    <form name="newPassword" novalidate ng-submit="newPW()" ng-show="!pwUpdated">
        <h2>{{TEXT().new_password1}}</h2>

        <h2>{{ email }}</h2>
        <div>
            <i class="fa fa-lock"></i>
            <input placeholder="{{TEXT().password}}" type="password" name="pw1" ng-model="pw1" required />

            <p class="anima-fade" ng-show="newPassword.pw1.$invalid && newPassword.pw1.$dirty && !newPassword.pw1.$focused">{{TEXT().inform_password}}</p>
            <p class="anima-fade" ng-show="lengthNotValid()">{{TEXT().password_length_not_valid}}</p>
        </div>

        <div>
            <i class="fa fa-lock"></i>
            <input placeholder="{{TEXT().new_password2}}" type="password" name="pw2" ng-model="pw2" required />

            <p class="anima-fade" ng-show="isNotEqual() && newPassword.pw2.$dirty">{{TEXT().password_not_equal}}</p>
        </div>

        <div class="conf">
            <button type="submit" ng-disabled="isDisabled()"><i class="fa fa-user"></i>{{TEXT().save}}</button>
        </div>
    </form>


    <div  ng-show="pwUpdated" class="anima-fade">
        <h2>{{message}}</h2>
    </div>


    <div class="conf">
        <a class="button" ng-href="#/"><i class="fa fa-mail-reply"></i>{{ TEXT().back }}</a>
    </div>

</div>